.card {
  background-color: white;
  width: 750px;
  margin-left: 550px;
  height: 350px;
  list-style-type: none;
  border-radius: 30px;
  padding-top: 15px;
  text-align: left;
}
body {
  background-color: slateblue;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.cardtitle {
  font-weight: bold;
  font-size: 50px;
  text-align: left;
}
.description {
  font-size: 20px;
  max-width: 700px;
}
.download { 
  position: absolute;
  background-color: #FF5A5A;
  width: 200px;
  height: 60px;
  font-weight: bold;
  border-radius: 20px;
  padding: 0px 0 0px 0;
  display: inline-flex;
  align-items: center;
}
img {
  padding-bottom: 20px;
  display: inline-flex;
  align-items: center;
}
span {
  padding-bottom: 5px;
  font-size: x-large;
}
.note {
  font-style: italic;
}
@media (max-width: 1080px) {
  .card {
    height: 350px;
    width: 90%;
    border-radius: 15px;
  }
  .download {
    height: 45px;
    padding-bottom: 0px;
    padding-top: 0;
    display: inline-flex;
    align-items: center;
  }
  span {
    padding-bottom: 5px;
  }
  img {
    padding-bottom: 20px;
    display: inline-flex;
    align-items: center;
  }
}
a:visited,
a:hover,
a:active,
a:link {
  text-decoration: none;
  color: white;
  
}
.nav {
  margin-left: auto 450px;
}