.faqcard1 {
    color: slateblue;
    background-color: white;
    height: 200px;
    width: 1000px;
    border-radius: 30px;
    padding: 10px 0 10px 0;
    text-align: center;
    margin: 10px 0 10px 450px;
    font-size: 30px;
   }
.newsh1{
    font-size: 40px;
}
.newscard {
    color: black;
    background-color: yellow;
    height: 200px;
    width: 900px;
    border-radius: 30px;
    padding: 10px 0 0 0;
    text-align:center;
    margin: 20px 30px 20px 490px;
}


.cardtitle {
  font-weight: bold;
  
}
button {
  background-color: red;
  margin: 10px 0 10px 0;
  height: 30px;
  width: 70px;
  border: none;
  border-radius: 0 20px 0 20px;
}

body {
 background-color: slateblue;
 font-family: Arial;
 color: white;
 text-align: center;
}
.redirect {
 background-color: white;
 font-size: 20px;
 border-radius: 10px;
 padding: 5px 100px 10px 100px;
 display: block;
 text-align: center;
 margin: 10px;
 color: slateblue;
}
a:link { 
  text-decoration: none; 
  color: slateblue;
} 
a:visited { 
  text-decoration: none;
  color: slateblue;
  } 
a:hover { 
  text-decoration: none; 
  color: slateblue;
  } 
a:active { 
  text-decoration: none; 
  color: slateblue;
}

ul {
    list-style-type: none;
}
.home {
 background-color: white;
 height: 50px;
 width: 50px;
 margin: 0 0 0 900px;
 border-radius: 10px;
 padding: 5px 5px 0 5px;
}

.github {
  background-color: darkorange;
  font-size: 20px;
  border-radius: 10px;
  padding: 5px 100px 10px 100px;
  display: block;
  text-align: center;
  margin: 10px;
  color: white;
 }
 .indexcard {
  color: slateblue;
  background-color: white;
  height: 200px;
  width: 1000px;
  border-radius: 30px;
  padding: 10px 0 10px 0;
  text-align: center;
  margin: 10px 0 10px 450px;
  font-size: 30px;
 }
.about {
  font-size: 30px;
  font-weight: bold;
  font-size: 25px;
}
.boykisser {
  border-radius: 50px;
  margin: 10px;
}